 <!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>GoCharts Web Engine</title>
  <meta name="description" content="Visualization of microarray data in an intuitive way.">
  <meta name="author" content="Pankaj Garg">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/status/favicon.ico"> 

  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="/static/style.css">


  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/static/modernizr-1.7.min.js"></script>

<style type='text/css' >
	.deleteButton {
		visibility:hidden;
	}
	
	
</style>

{% block head %} {% endblock %}

Result Id: <input type='text' id='searchBox' /> <button value='Search' id='searchButton' >Search </button>

</head>

<body>

  <div id="container">
    <header>
		<h2>GoCharts Web Engine </h2> <br /> <br />
		{% block header %}
		{% endblock %}
    </header>
    <div id="main" role="main">
		{% block main %}
		{% endblock %}
    </div>
    <footer>
		<table>
			<thead><tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Action</th>
			</th></thead>
			<tbody>
			{% for row in history %}
				<tr class='historyRow'>
					<th><a href='/view/{{row['id']}}'> {{ row['id'] }} </a> </th>
					<th>{{ row['name'] }}</th>
					<th>{{ row['description'] }}</th>
					<th<button id="{{row['id']}}" class='deleteButton' >Delete</button></th>
				</tr>
			{% endfor %}
			</tbody>
		</table>
    
		{% block footer %}
		{% endblock %}
    </footer>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='/static/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="/static/plugins.js"></script>
  <script src="/static/script.js"></script>
  <!-- end scripts-->


<script type='text/javascript'>
	$.ready(function(){
		$('.historyRow').hover(function(){
		
		})
	})
	
	var searchBox = document.getElementById("searchBox")
	
	$('#searchButton').click(function(){
		document.location.href = '/view/' + searchBox.value;
	})
	
	
</script>

  <!--[if lt IE 7 ]>
    <script src="/static/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->

</body>
</html>
