{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="/static/d3.js"></script>
	<script type="text/javascript" src="/static/d3.behavior.js"></script>
	

    
{% endblock %}
    
{% block header %}
<h2>{{info.name}} - {{info.description}}</h2>
Job Id:<h3 style="font-style:italic; display:inline;"> {{info.id}}</h3>
{% endblock %}

{% block afterFooter %}
	<style>
	#demo-frame > div.demo { padding: 10px !important; };
	</style>
	<script>
	
	</script>



<div id='sliderContainer'>

<p>
	<label for="amount">Zoom Level:</label>
	<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
</p>

<div id="slider"></div>

</div>


    <div id="svgRoot" style='background-color:white; width: 1200px; margin: auto; padding-top: 20px; padding-bottom:50px;'>
    </div>
    <script type="text/javascript" src="{{info.dataFile}}"> </script>
<script type="text/javascript" src="{{info.zoomLabelsFile}}"> </script>
<script type="text/javascript" src="/static/custom.js"></script>
    
{% endblock %}

{% block footer %}

{% endblock %}

</body>
</html>

